html {
    height: 100%;
    overflow-x: hidden;
}

body {
    margin: 0px auto;
    width: 80%;
    color: #3f3f3f;
    font-family: "Titillium Web", sans-serif;
}

.menu {
    margin-top: 40px;
    margin-bottom: 20px;
}

.container {
    width: 100%;
    color: #3f3f3f;
}

nav ul {
    font-family: "Inter Tight", sans-serif;
    padding: 0px;
    list-style: none;
    font-weight: bold;
}

footer ul {
    font-family: "Inter Tight", sans-serif;
    padding: 0px;
    list-style: none;
    font-weight: 400;
    display: flex;
    justify-content: space-between;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

footer ul li {
    display: inline;
}


a {
    text-decoration: none;
    color: #769b8a;
}

a:hover {
    text-decoration: underline;
}

h1 {
    font-size: 35px;
}

h2 {
    font-size: 30px;
    margin: 0;
    margin-top: 30px;
    margin-bottom: 20px;
}

h3 {
    font-size: 25px;
    margin: 0;
    margin-top: 10px;
    margin-bottom: 10px;
}

h4 {
    font-size: 21px;
    margin: 0;
    margin-top: 8px;
    margin-bottom: 8px;
}

h5 {
    font-size: 18px;
    margin: 0;
    margin-top: 5px;
    margin-bottom: 5px;
}

p {
    font-size: 16px;
    line-height: 18px;
    color: #333;
    margin: 0;
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: justify;
    text-align-last: left;
    font-family: "Titillium Web", sans-serif;
}

.p-narrow {
    letter-spacing: -1px;
}

.p-small {
    font-size: 14px;
}

ul {
    margin-top: 8px;
    margin-bottom: 8px;
}

.notes li {
    font-size: 16px;
    margin: 0;
    margin-top: 10px;
    margin-bottom: 10px;
}

footer {
    border-top: 1px solid #d5d5d5;
    border-bottom: 1px solid #d5d5d5;
    font-size: 12px;
    color: #858585;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}

img {
    width: 100%;
    margin: 0;
    margin-top: 20px;
    margin-bottom: 20px;
}

.mountain {
    margin: 0;
    margin-left: -13%;
    width: 101vw;
}

/* About style */

.about {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 3em;
    margin-bottom: 3em;
}

.bar {
    width: 300px;
    background-color: #f4f4f4;
    border-radius: 15px;
}

.pinned {
    display: flex;
    flex-direction: column;
    width: 300px;
    align-items: center;
    position: sticky;
    top: 0;
}

.portrait {
    width: 80%;
    margin-bottom: 50px;
}

.social-icon {
    font-size: 25px;
    margin: 5px;
}

.resume {
    display: flex;
    flex-direction: column;
    width: calc(100% - 300px);
    padding-left: 50px;
    box-sizing: border-box;
}

hr {
    border-width: 1px;
    width: 100%;
    margin-top: 25px;
}

.project-class {
    margin-top: 35px;
}

.UPenn, .CED, .CNR, .EMLab, .Sasaki, .SWA, .MVZ, .Panaroma, .media2, .sense, .publication {
    display: flex;
    flex-direction: row;
}

.event {
    width: 80%;
}

.time {
    width: 20%;
    margin-left: 40px;
}

/* Project style */

.project-container {
    position: relative;
    display: flex;
    width: 100%;
}

.plink {
    margin-right: 35px;
}

.geospatial, .ud, .la, .og {
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    /* justify-content:space-between; */
    width: 110%;
}

.earthquaker, .lead, .wind, .erie, .alaska, .fishtown, .sdmexico, .moon, .chicago, .friendship, .drawing, .oasis {
    width: 300px;
}


.notes {
    margin: 30px 20px 30px 0;
    padding: 0;
    list-style-type: none;
    width: 25%;
}

.description {
    left: 30%;
    position: relative;
    width: 67%;
    margin-bottom: 20px;
}

.p-description {
    margin-top: 15px;
}

.storyImg {
    border-radius: 15px;
}

.storyImg:hover {
    transform: scale(1.03); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
    transition: 0.5s;
}