body {
    margin: 60px auto;
    width: 75%;
}

.container {
    width: 100%;
}

nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}

nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}

a {
    text-decoration: none;
    color: #769b8a;
}

a:hover {
    text-decoration: underline;
}

h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}

h2 {
    font-size: 2.5em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    margin: 0;
    margin-top: 30px;
    margin-bottom: 20px;
}

h3 {
    font-size: 2em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    margin: 0;
    margin-top: 20px;
    margin-bottom: 20px;
}

h4 {
    font-size: 1.5em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    margin: 0;
    margin-top: 10px;
    margin-bottom: 10px;
}

h5 {
    font-size: 1.3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    margin: 0;
    margin-top: 10px;
    margin-bottom: 10px;
}

p {
    font-size: 1.2em;
    line-height: 1.4em;
    color: #333;
    margin: 0;
    margin-top: 10px;
    margin-bottom: 10px;
}

footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
    color: #858585;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}

img {
    width: 100%;
}

/* About style */

.about {
    display: flex;
    flex-direction: row;
    width: 110%;
    margin-top: 3em;
}

.bar {
    display: flex;
    flex-direction: column;
    width: 300px;
    align-items: center;
}

.portrait {
    width: 80%;
    margin-bottom: 20px;
}

.resume {
    display: flex;
    flex-direction: column;
    width: 850px;
    margin-left: 25px;
}

.UPenn, .CED, .CNR, .EMLab, .Sasaki, .SWA, .MVZ, .Panaroma {
    display: flex;
    flex-direction: row;
}

.event {
    width: 80%;
}

.time {
    width: 20%;
    margin-left: 40px;
}

/* Project style */

.geospatial {
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content:space-between;
    width: 100%;
    margin-top: 3em;
}

.lead, .wind, .erie {
    width: 300px;
}

/* navigation style */

.storyImg:hover {
    transform: scale(1.03); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
    transition: 0.5s;
}