<!-- main layout that will contain repeated elements -->
<!DOCTYPE html>
	<html lang="en">
		<head>
			<meta charset="utf-8">
			<!-- add code to fit phone access -->
			<meta name="viewport" content="width=device-width, initial-scale=1" />
            <!-- {{}} liquid tags used to inject content into the final web page -->
			<title>{{ page.title }}</title>
			<!-- icon library -->
			<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"/>

			<!-- link to p font style -->
			<link rel="preconnect" href="https://fonts.googleapis.com">
			<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
			<link href="https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=Quattrocento:wght@400;700&display=swap" rel="stylesheet">
			
			<link rel="preconnect" href="https://fonts.googleapis.com">
			<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
			<link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap" rel="stylesheet">
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/assets/css/main.css">
			<link rel="stylesheet" type="text/css" href="/assets/css/decoration.css">
			{% include analytics.html %}
		</head>

		<body oncontextmenu="return false">
			<nav>
	    		<ul class="menu">
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>
                    <li><a href="/projects">Projects</a></li>
	        		<!-- <li><a href="/navigation">Navigation</a></li> -->
	        		<li><a href="/blog">News</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li>Website constructed by Junyi Yang</li>
					<li>All images and works © 2024 Junyi Yang. All rights reserved.</li>
				</ul>
			</footer>

			<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
		</body>
	</html>